<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Movil</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<div th:insert="~{component/natBar::header}"></div>

<!-- Page Content -->
<div class="container">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Sistema <small>Movil</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/modelo/show}">Ver modelos</a></li>
        <li class="breadcrumb-item active">Registrar modelo</li>
    </ol>
    <h2>Agregar modelo</h2>
    <br>
    <form class="form-horizontal" th:action="@{/modelo/save}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="marca_id">Marca:</label>
            <div class="col-sm-10">
                <select class="form-control" id="marca_id" name="marca_id" required onchange="updateFamilias()">
                    <option value="">Seleccione una marca</option>
                    <option th:each="marca : ${marcas}" th:value="${marca.getMarca_id()}"
                            th:text="${marca.getMarca_nombre()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="modelo_familia">Familia:</label>
            <div class="col-sm-10">
                <select class="form-control" id="modelo_familia" name="modelo_familia" required onchange="updateModelos()">
                    <option value="" selected>Seleccione una familia</option>
                    <!-- Las opciones serán pobladas por JavaScript -->
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="modelo_nombre">Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="modelo_nombre" name="modelo_nombre"
                       placeholder="Ingrese el nombre del modelo" autocomplete="off" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <button type="submit" class="btn btn-success" id="saveButton">
                    <span class="glyphicon glyphicon-saved">Guardar</span>
                </button>
                <a th:href="@{/modelo/show}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-saved">Cancelar</span>
                </a>
            </div>
        </div>
    </form>
    <br>

</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="~{component/footer::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('saveButton').addEventListener('click', function (e) {
        e.preventDefault();

        const form = document.querySelector('form');

        if (!form.checkValidity()) {
            // El formulario no es válido, por lo que mostramos los mensajes de error
            form.reportValidity();
        } else {
            // El formulario es válido, por lo que mostramos el SweetAlert2 y enviamos el formulario
            Swal.fire({
                title: 'Guardando...',
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEnterKey: false,
                allowEscapeKey: false,
                showLoading: true,
            });

            form.submit();
        }
    });
</script>
<script>
    function updateFamilias() {
        const marcaId = document.getElementById('marca_id').value;
        const familiaDropdown = document.getElementById('modelo_familia');
        // Si marcaId es vacío, limpia las opciones y retorna
        if (marcaId === "") {
            while (familiaDropdown.firstChild) {
                familiaDropdown.removeChild(familiaDropdown.firstChild);
            }
            const option1 = document.createElement('option');
            option1.value = "";
            option1.text = "Seleccione una familia";
            option1.selected = true;
            familiaDropdown.add(option1);
            return;
        }
        console.log('Marca ID: ', marcaId); // Verifica el id de la marca
        $.ajax({
            url: '/movil/getFamiliasByMarca/' + marcaId,
            type: 'GET',
            success: function (data) {
                console.log('Data: ', data); // Verifica la respuesta del servidor
                // Limpia el dropdown antes de agregar nuevas opciones
                while (familiaDropdown.firstChild) {
                    familiaDropdown.removeChild(familiaDropdown.firstChild);
                }
                const option1 = document.createElement('option');
                option1.value = "";
                option1.text = "Seleccione una familia";
                option1.selected = true;
                familiaDropdown.add(option1);
                data.forEach(function (familia) {
                    const option = document.createElement('option');
                    option.value = familia.familia_id;
                    option.text = familia.familia_nombre;
                    familiaDropdown.add(option);
                });
            },
            error: function (error) {
                console.log('Error: ', error);
            }
        });
    }
</script>

</body>

</html>
