<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Movil</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

    <link rel="stylesheet" href="//cdn.datatables.net/2.0.1/css/dataTables.dataTables.min.css">
</head>

<body>
<!-- Navigation -->
<div th:insert="~{component/natBar::header}"></div>

<!-- Page Content -->
<div class="col-lg-auto">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/movil/show}">Moviles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/modelo/show}">Modelos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/familia/show}">Familias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/marca/show}">Marcas</a>
        </li>
    </ul>
    <header class="jumbotron my-4">
        <h1 class="display-3">Panel de Administración de Modelos</h1>
        <p class="lead">Aquí puedes administrar los modelos  de tu tienda</p>
    </header>
    <a class="btn btn-primary" th:href="@{/modelo/create}">Agregar modelo</a>
    <div class="table-responsive">
        <table class="table cell-border" id="tablaModelo">
            <thead class="table-dark text-center">
            <tr>
                <th scope="col">Marca</th>
                <th scope="col">Familia</th>
                <th scope="col">Modelo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody class="table-hover dataTable" >
            <tr th:classappend="${modelo.getModeloEstado() ? 'table-light' : 'table-danger'}" th:each="modelo:${modelos}">
                <td th:text="${modelo.getModeloFamilia().getFamiliaMarca().getMarcaNombre()}"></td>
                <td th:text="${modelo.getModeloFamilia().getFamiliaNombre()}"></td>
                <td th:text="${modelo.getModeloNombre()}"></td>
                <td th:text="${modelo.getModeloEstado()?'Activa':'Inactiva'}"></td>
                <td class="text-center">
                    <a class="btn btn-info" th:href="@{/modelo/edit/{id} (id=${modelo.getModeloId()})}">Editar</a>
                    <a class="btn" th:classappend="${modelo.getModeloEstado() ? 'btn-danger' : 'btn-success'}"
                       th:href="@{/modelo/deshabilitarHabilitar/{id} (id=${modelo.getModeloId()})}"
                       th:text="${modelo.getModeloEstado()?'Deshabilitar':'Habilitar'}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="~{component/footer::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/2.0.1/js/dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#tablaModelo').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "emptyTable":     "No hay datos disponibles en la tabla",
                "search": "Buscar:",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columnDefs": [
                {"orderable": false, "targets": 4},
                {"searchable": false, "targets": 4}
            ]
        });
    });
</script>
</body>

</html>
