<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Instituto</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<div th:insert="~{component/natBar::header}"></div>

<!-- Page Content -->
<div class="container">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Sistema <small>Movil</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/movil/show}">Ver moviles</a></li>
        <li class="breadcrumb-item active">Registrar Movil</li>
    </ol>
    <h2>Agregar celular</h2>
    <br>
    <form class="form-horizontal" th:action="@{/movil/save}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="marcaId">Marca:</label>
            <div class="col-sm-10">
                <select class="form-control" id="marcaId" name="marcaId" required onchange="updateFamilias()">
                    <option value="">Seleccione una marca</option>
                    <option th:each="marca : ${marcas}" th:value="${marca.getMarcaId()}"
                            th:text="${marca.getMarcaNombre()}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="familiaId">Familia:</label>
            <div class="col-sm-10">
                <select class="form-control" id="familiaId" name="familiaId" required onchange="updateModelos()">
                    <option value="" selected>Seleccione una familia</option>
                    <!-- Las opciones serán pobladas por JavaScript -->
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="modeloId">Modelo:</label>
            <div class="col-sm-10">
                <select class="form-control" id="modeloId" name="modeloId" required>
                    <option value="">Seleccione un modelo</option>
                    <!-- Las opciones serán pobladas por JavaScript -->
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilImei1">IMEI 1:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="movilImei1" name="movilImei1"
                       placeholder="Ingrese el IME 1 del dispositivo" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilImei2">IMEI 2:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="movilImei2" name="movilImei2"
                       placeholder="Ingrese el IME 2 del dispositivo" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilBateria">Bateria:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="movilBateria" name="movilBateria"
                       placeholder="Ingrese el % de bateria del dispositivo" autocomplete="off" required max="100"
                       min="0">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilGigas">Gigas:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="movilGigas" name="movilGigas"
                       placeholder="Ingrese la cantidad de gigas del dispositivo" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilColor">Color:</label>
            <div class="input-group mb-3 col-sm-10">
                <select class="form-control" id="movilColor" name="movilColor" required>
                    <option value="" selected>Seleccione un color</option>
                    <option th:each="color : ${colores}" th:value="${color.getColorId()}"
                            th:text="${color.getColorNombre()}">
                    </option>
                </select>
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addColorModal">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilCalidad">Calidad:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="movilCalidad" name="movilCalidad"
                       placeholder="Ingrese la calidad del dispositivo" autocomplete="off" required max="10" min="1">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilPrecioPublico">Precio público:</label>
            <div class="input-group col-sm-10">
                <div class="input-group-append">
                    <span class="input-group-text">COP $</span>
                    <span class="input-group-text" id="movilPrecioPublicoSpan">0.00</span>
                </div>
                <input type="number" class="form-control" id="movilPrecioPublico" name="movilPrecioPublico"
                       placeholder="Ingrese el precio publico del dispositivo" autocomplete="off" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilObservaciones">Observación:</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="movilObservaciones" name="movilObservaciones"
                          placeholder="Ingrese las observaciones del dispositivo" required
                          autocomplete="off"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="img">Imagen:</label>
            <div class="col-sm-10">
                <input type="file" class="form-control-file" id="img" name="img">
            </div>
        </div>
        <br>
        <hr>
        <div class="form-group">
            <label class="control-label col-sm-2" for="contextoUbicacion">Ubicación:</label>
            <div class="input-group mb-3 col-sm-10">
                <select class="form-control" id="contextoUbicacion" name="contextoUbicacion" required>
                    <option value="" selected>Seleccione una ubicación</option>
                    <option th:each="ubicacion : ${ubicaciones}" th:value="${ubicacion.getUbicacionId()}"
                            th:text="${ubicacion.getUbicacionNombre()}"></option>
                </select>
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addLocationModal">
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="contextoDetalle">Destalle ubicación:</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="contextoDetalle" name="contextoDetalle"
                          placeholder="Ingrese el motivo de porque esta en esa ubicación" required
                          autocomplete="off"></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <button type="submit" class="btn btn-success" id="saveButton">
                    <span class="glyphicon glyphicon-saved">Guardar</span>
                </button>
                <a th:href="@{/movil/show}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-saved">Cancelar</span>
                </a>
            </div>
        </div>
    </form>
    <br>

</div>
<!-- /.container -->
<!-- Modal -->
<div class="modal fade" id="addLocationModal" tabindex="-1" role="dialog" aria-labelledby="addLocationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLocationModalLabel">Agregar ubicación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addLocationForm">
                    <div class="form-group">
                        <label for="newLocationName">Nombre de la ubicación</label>
                        <input type="text" class="form-control" id="newLocationName"
                               placeholder="Ingrese el nombre de la ubicación" name="ubicacionNombre">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="addColorModal" tabindex="-1" role="dialog" aria-labelledby="addColorModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addColorModalLabel">Agregar color</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addColorForm">
                    <div class="form-group">
                        <label for="newColorName">Nombre del color</label>
                        <input type="text" class="form-control" id="newColorName"
                               placeholder="Ingrese el nombre del color" name="colorNombre">
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:insert="~{component/footer::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function updateColores() {
    $.ajax({
        url: '/color/colores',
        type: 'GET',
        success: function (data) {
            const colorDropdown = document.getElementById('movilColor');
            // Limpia el dropdown antes de agregar nuevas opciones
            while (colorDropdown.firstChild) {
                colorDropdown.removeChild(colorDropdown.firstChild);
            }
            const option1 = document.createElement('option');
            option1.value = "";
            option1.text = "Seleccione un color";
            option1.selected = true;
            colorDropdown.add(option1);
            data.forEach(function (color) {
                const option = document.createElement('option');
                option.value = color.colorId;
                option.text = color.colorNombre;
                colorDropdown.add(option);
            });
        },
        error: function (error) {
            console.log('Error: ', error);
        }
    });
}

$('#addColorForm').on('submit', function (e) {
    e.preventDefault();

    const newColorName = $('#newColorName').val();

    $.ajax({
        url: '/color/save',
        type: 'POST',
        data: {
            colorNombre: newColorName
        },
        success: function () {
            // Cierra la modal
            $('#addColorModal').modal('hide');

            // Actualiza la lista de colores en el formulario principal
            updateColores();

            // Muestra una alerta de éxito
            Swal.fire({
                title: 'Guardado',
                text: 'El nuevo color se ha guardado con éxito.',
                icon: 'success'
            });
        },
        error: function (error) {
            console.log('Error: ', error);
        }
    });
});
</script>
<script>
    function updateUbicaciones() {
    $.ajax({
        url: '/ubicacion/ubicaciones',
        type: 'GET',
        success: function (data) {
            const ubicacionDropdown = document.getElementById('contextoUbicacion');
            // Limpia el dropdown antes de agregar nuevas opciones
            while (ubicacionDropdown.firstChild) {
                ubicacionDropdown.removeChild(ubicacionDropdown.firstChild);
            }
            const option1 = document.createElement('option');
            option1.value = "";
            option1.text = "Seleccione una ubicación";
            option1.selected = true;
            ubicacionDropdown.add(option1);
            data.forEach(function (ubicacion) {
                const option = document.createElement('option');
                option.value = ubicacion.ubicacionId;
                option.text = ubicacion.ubicacionNombre;
                ubicacionDropdown.add(option);
            });
        },
        error: function (error) {
            console.log('Error: ', error);
        }
    });
}

    $('#addLocationForm').on('submit', function (e) {
    e.preventDefault();

        const newLocationName = $('#newLocationName').val();

        $.ajax({
        url: '/ubicacion/save',
        type: 'POST',
        data: {
            ubicacionNombre: newLocationName
        },
        success: function () {
            // Cierra la modal
            $('#addLocationModal').modal('hide');

            // Actualiza la lista de ubicaciones en el formulario principal
            updateUbicaciones();

            // Muestra una alerta de éxito
            Swal.fire({
                title: 'Guardado',
                text: 'La nueva ubicación se ha guardado con éxito.',
                icon: 'success'
            });
        },
        error: function (error) {
            console.log('Error: ', error);
        }
    });
});
</script>
<script>
    document.getElementById('movilPrecioPublico').addEventListener('input', function (e) {
        const valor = parseFloat(e.target.value);
        if (!isNaN(valor)) {
            document.getElementById('movilPrecioPublicoSpan').textContent = valor.toLocaleString('es-CO');
        } else {
            document.getElementById('movilPrecioPublicoSpan').textContent = '0.00';
        }
    });
</script>
<script>
    document.getElementById('saveButton').addEventListener('click', function (e) {
        e.preventDefault();

        const form = document.querySelector('form');

        if (!form.checkValidity()) {
            // El formulario no es válido, por lo que mostramos los mensajes de error
            form.reportValidity();
        } else {
            // El formulario es válido, por lo que mostramos el SweetAlert2 y enviamos el formulario
            Swal.fire({
                title: 'Guardando...',
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEnterKey: false,
                allowEscapeKey: false,
                showLoading: true,
            });

            form.submit();
        }
    });
</script>
<script>
    function updateFamilias() {
        const marcaId = document.getElementById('marcaId').value;
        const familiaDropdown = document.getElementById('familiaId');
        // Si marcaId es vacío, limpia las opciones y retorna
        if (marcaId === "") {
            while (familiaDropdown.firstChild) {
                familiaDropdown.removeChild(familiaDropdown.firstChild);
            }
            const option1 = document.createElement('option');
            option1.value = "";
            option1.text = "Seleccione una familia";
            option1.selected = true;
            familiaDropdown.add(option1);
            return;
        }
        $.ajax({
            url: '/movil/getFamiliasByMarca/' + marcaId,
            type: 'GET',
            success: function (data) {
                // Limpia el dropdown antes de agregar nuevas opciones
                while (familiaDropdown.firstChild) {
                    familiaDropdown.removeChild(familiaDropdown.firstChild);
                }
                const option1 = document.createElement('option');
                option1.value = "";
                option1.text = "Seleccione una familia";
                option1.selected = true;
                familiaDropdown.add(option1);
                data.forEach(function (familia) {
                    const option = document.createElement('option');
                    option.value = familia.familiaId;
                    option.text = familia.familiaNombre;
                    familiaDropdown.add(option);
                });
            },
            error: function (error) {
                console.log('Error: ', error); // Verifica si hay algún error
            }
        });
    }

    function updateModelos() {
        const familiaId = document.getElementById('familiaId').value;
        const modeloDropdown = document.getElementById('modeloId');
        // Si familiaId es vacío, limpia las opciones y retorna
        if (familiaId === "") {
            while (modeloDropdown.firstChild) {
                modeloDropdown.removeChild(modeloDropdown.firstChild);
            }
            const option1 = document.createElement('option');
            option1.value = "";
            option1.text = "Seleccione un modelo";
            option1.selected = true;
            modeloDropdown.add(option1);
            return;
        }
        $.ajax({
            url: '/movil/getModelosByFamilia/' + familiaId,
            type: 'GET',
            success: function (data) {
                // Limpia el dropdown antes de agregar nuevas opciones
                while (modeloDropdown.firstChild) {
                    modeloDropdown.removeChild(modeloDropdown.firstChild);
                }
                const option1 = document.createElement('option');
                option1.value = "";
                option1.text = "Seleccione un modelo";
                option1.selected = true;
                modeloDropdown.add(option1);
                data.forEach(function (modelo) {
                    const option = document.createElement('option');
                    option.value = modelo.modeloId;
                    option.text = modelo.modeloNombre;
                    modeloDropdown.add(option);
                });
            },
            error: function (error) {
                console.log('Error: ', error); // Verifica si hay algún error
            }
        });
    }
</script>

</body>

</html>
