<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sistema Movil</title>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<div th:insert="~{component/natBar::header}"></div>

<!-- Page Content -->
<div class="container">


    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Sistema <small>Movil</small>
    </h1>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/movil/show}">Ver moviles</a></li>
        <li class="breadcrumb-item active">Actualizar Movil</li>
    </ol>
    <h2>Actualizar celular</h2>
    <br>
    <form class="form-horizontal" th:action="@{/movil/update}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="movilId" th:value="${movil.getMovilId()}">
        <input type="hidden" name="movilEstado" th:value="${movil.getMovilEstado()}">
       <!-- <input type="hidden" name="contextos" th:value="${movil.getContextos()}">-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="marcaId">Marca:</label>
            <div class="col-sm-10">
                <select class="form-control" id="marcaId" name="marcaId" required onchange="updateFamilias()">
                    <option value="">Seleccione una marca</option>
                    <option th:each="marca : ${marcas}" th:value="${marca.getMarcaId()}"
                            th:text="${marca.getMarcaNombre()}"
                            th:selected="${marca.getMarcaId() == movil.getMovilModelo().getModeloFamilia().getFamiliaMarca().getMarcaId()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="familiaId">Familia:</label>
            <div class="col-sm-10">
                <select class="form-control" id="familiaId" name="familiaId" required onchange="updateModelos()">
                    <option th:value="${movil.getMovilModelo().getModeloFamilia().getFamiliaId()}" selected th:text="${movil.getMovilModelo().getModeloFamilia().getFamiliaNombre()}"></option>
                    <!-- Las opciones serán pobladas por JavaScript -->
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="modeloId">Modelo:</label>
            <div class="col-sm-10">
                <select class="form-control" id="modeloId" name="modeloId" required>
                    <option th:value="${movil.getMovilModelo().getModeloId()}" selected th:text="${movil.getMovilModelo().getModeloNombre()}"></option>
                    <!-- Las opciones serán pobladas por JavaScript -->
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilImei1">IMEI 1:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="movilImei1" name="movilImei1"
                       placeholder="Ingrese el IME 1 del dispositivo" autocomplete="off" required
                       th:value="${movil.getMovilImei1()}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilImei2">IMEI 2:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="movilImei2" name="movilImei2"
                       placeholder="Ingrese el IME 2 del dispositivo" autocomplete="off" required
                       th:value="${movil.getMovilImei2()}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilBateria">Bateria:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="movilBateria" name="movilBateria"
                       placeholder="Ingrese el % de bateria del dispositivo" autocomplete="off" required max="100"
                       min="0" th:value="${movil.getMovilBateria()}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilGigas">Gigas:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="movilGigas" name="movilGigas"
                       placeholder="Ingrese la cantidad de gigas del dispositivo" autocomplete="off" required
                       th:value="${movil.getMovilGigas()}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilColor">Color:</label>
            <div class="col-sm-10">
                <select class="form-control" id="movilColor" name="movilColor" required>
                    <option value="" selected>Seleccione un color</option>
                    <option th:each="color : ${colores}" th:value="${color.getColorId()}"
                            th:text="${color.getColorNombre()}"
                            th:selected="${color.getColorId() == movil.getMovilColor().getColorId()}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilCalidad">Calidad:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="movilCalidad" name="movilCalidad"
                       placeholder="Ingrese la calidad del dispositivo" autocomplete="off" required max="10" min="1"
                       th:value="${movil.getMovilCalidad()}">
            </div>
        </div>
        <!--<div class="form-group">
            <label class="control-label col-sm-2" for="movilPrecioPublico">Precio público:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="movilPrecioPublico" name="movilPrecioPublico"
                       placeholder="Ingrese el precio publico del dispositivo" autocomplete="off" required
                       th:value="${movil.getMovilPrecioPublico()}">
            </div>
        </div>-->
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilPrecioPublico">Precio público:</label>
            <div class="input-group col-sm-10">
                <div class="input-group-append">
                    <span class="input-group-text">COP $</span>
                    <span class="input-group-text" id="movilPrecioPublicoSpan" th:text="${#numbers.formatDecimal(movil.getMovilPrecioPublico(), 1, 'POINT', 0, 'COMMA')}"></span>
                </div>
                <input type="number" class="form-control" id="movilPrecioPublico" name="movilPrecioPublico"
                       placeholder="Ingrese el precio publico del dispositivo" autocomplete="off" required
                       th:value="${movil.getMovilPrecioPublico()}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="movilObservaciones">Observación:</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="movilObservaciones" name="movilObservaciones"
                          placeholder="Ingrese las observaciones del dispositivo" required
                          autocomplete="off" th:text="${movil.getMovilObservaciones()}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="img">Imagen:</label>
            <div class="col-sm-10">
                <input type="file" class="form-control-file" id="img" name="img">
            </div>
        </div>
        <br>
        <div class="row">
            <div>
                <button type="submit" class="btn btn-success" id="saveButton">
                    <span class="glyphicon glyphicon-saved">Actualizar</span>
                </button>
                <a th:href="@{/movil/show}" class="btn btn-warning">
                <span class="glyphicon glyphicon-saved">Cancelar</span>
                </a>
            </div>
        </div>
    </form>
    <br>

</div>
<!-- /.container -->

<!-- Footer -->
<div th:insert="~{component/footer::footer}"></div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.getElementById('movilPrecioPublico').addEventListener('input', function (e) {
        const valor = parseFloat(e.target.value);
        if (!isNaN(valor)) {
            document.getElementById('movilPrecioPublicoSpan').textContent = valor.toLocaleString('es-CO');
        } else {
            document.getElementById('movilPrecioPublicoSpan').textContent = '0.00';
        }
    });
</script>
<script>
    function updateFamilias() {
        const marcaId = document.getElementById('marcaId').value;
        const familiaDropdown = document.getElementById('familiaId');
        // Si marcaId es vacío, limpia las opciones y retorna
        if (marcaId === "") {
            while (familiaDropdown.firstChild) {
                familiaDropdown.removeChild(familiaDropdown.firstChild);
            }
            const option1 = document.createElement('option');
            option1.value = "";
            option1.text = "Seleccione una familia";
            option1.selected = true;
            familiaDropdown.add(option1);
            updateModelos();
            return;
        }
        console.log('Marca ID: ', marcaId); // Verifica el id de la marca
        $.ajax({
            url: '/movil/getFamiliasByMarca/' + marcaId,
            type: 'GET',
            success: function (data) {
                console.log('Data: ', data); // Verifica la respuesta del servidor
                // Limpia el dropdown antes de agregar nuevas opciones
                while (familiaDropdown.firstChild) {
                    familiaDropdown.removeChild(familiaDropdown.firstChild);
                }
                const option1 = document.createElement('option');
                option1.value = "";
                option1.text = "Seleccione una familia";
                option1.selected = true;
                familiaDropdown.add(option1);
                data.forEach(function (familia) {
                    const option = document.createElement('option');
                    option.value = familia.familiaId;
                    option.text = familia.familiaNombre;
                    familiaDropdown.add(option);
                });
            },
            error: function (error) {
                console.log('Error: ', error); // Verifica si hay algún error
            }
        });
    }

    function updateModelos() {
        const marcaId = document.getElementById('marcaId').value;
        const familiaId = document.getElementById('familiaId').value;
        const modeloDropdown = document.getElementById('modeloId');
        // Si familiaId es vacío, limpia las opciones y retorna
        if (familiaId === "" || marcaId === "") {
            while (modeloDropdown.firstChild) {
                modeloDropdown.removeChild(modeloDropdown.firstChild);
            }
            const option1 = document.createElement('option');
            option1.value = "";
            option1.text = "Seleccione un modelo";
            option1.selected = true;
            modeloDropdown.add(option1);
            return;
        }
        $.ajax({
            url: '/movil/getModelosByFamilia/' + familiaId,
            type: 'GET',
            success: function (data) {
                // Limpia el dropdown antes de agregar nuevas opciones
                while (modeloDropdown.firstChild) {
                    modeloDropdown.removeChild(modeloDropdown.firstChild);
                }
                const option1 = document.createElement('option');
                option1.value = "";
                option1.text = "Seleccione un modelo";
                option1.selected = true;
                modeloDropdown.add(option1);
                data.forEach(function (modelo) {
                    const option = document.createElement('option');
                    option.value = modelo.modeloId;
                    option.text = modelo.modeloNombre;
                    modeloDropdown.add(option);
                });
            },
            error: function (error) {
                console.log('Error: ', error); // Verifica si hay algún error
            }
        });
    }
</script>
<script>
    document.getElementById('saveButton').addEventListener('click', function (e) {
        e.preventDefault();

        const form = document.querySelector('form');

        if (!form.checkValidity()) {
            // El formulario no es válido, por lo que mostramos los mensajes de error
            form.reportValidity();
        } else {
            // El formulario es válido, por lo que mostramos el SweetAlert2 y enviamos el formulario
            Swal.fire({
                title: 'Actualizando...',
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEnterKey: false,
                allowEscapeKey: false,
                showLoading: true,
            });

            form.submit();
        }
    });
</script>

</body>

</html>
